@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);

}

.hero-background .bg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to bottom, #AAAAB6 0%, #9A9AAE 12%, #8A8AA6 24%, #7A7A9E 36%, #6A6A96 48%, #5A5A8E 60%, #4A4A86 72%, #3A3A7E 84%, #2A2A76 96%, #1A1A6E 100%);
  z-index: 1;
}
.hero-text {
  position: absolute;
  top: 42%;
  left: 61.5%;
  color: #a9a9a9;
  font-family: "Playfair Display", serif;
  font-size: 2.8vw;
  font-weight: 700;
  line-height: 0.95;
  z-index: 1000000;
}

.infring {
  position: absolute;
  top: 48%;
  left: 82.9%;
  color: #7C837E;
  font-family: "Playfair Display", serif;
  font-size: 1vw;
  font-weight: 700;
  line-height: 0.95;
  z-index: 1000000;
}